{% extends "base.html" %}

{% block content %} 
<div class="screen">
    <div class="screen-image"></div>
    <div class="screen-overlay"></div>

    <div class="screen-content">
        <i class="screen-icon fa-brands fa-codepen"></i>
        <div class="screen-user">
            <span class="name" data-value="Azure pilvipalvelu">Azure pilvipalvelu</span>
            <a class="link" href="https://syo.mcampus.fi/course/view.php?id=4542&lang" target="_blank">TVPT2023</a>
        </div>
    </div>
</div>

<div id="blob"></div>
<div id="blur"></div>
<div id="links"></div>
{% endblock %}